<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuereadAI</title>
    <meta name="description" content="The future of Natural Language Processors "/>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>


<style>
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

</style>
<!--Header Section-->
<section class="bg-gradient pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <div class="heading-brand">QuereadAI</div>
                
                <a href="https://github.com/adibiasio/quereadai.git" class="btn btn-dark svg-icon" target="_blank">
                    <em class="mr-2" data-feather="github"></em>
                    Source Code
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-8 mx-auto text-center">
                <h1>Create your own Chat Bot</h1>
                <p class="lead mb-5">QuereadAI is the newest way to utilize the power of natural language processing tools. 
                    By adding your own files, you can make your own Chat Bot that knows anything you want it to. Whether it's school work, handbooks or exams, QuereadAI can read it!</p>
                <a href="google/" class="btn btn-success svg-icon">
                    <em class="mr-2" data-feather="home"></em>
                    Login
                </a>
            </div>
        </div>
        
        <div class="row mt-5 mb-auto">
            <div class="col-md-9 mx-auto">
                <div class="code-window">
                    <div class="dots">
                        <div class="red"></div>
                        <div class="orange"></div>
                        <div class="green"></div>
                    </div>
                    <br></br>
                    <h1><span id="auto-input">&nbsp;&nbsp;&nbsp;&nbsp;Hey, </span></h1>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-4 bg-light footer">
    <div class="container">
        <div class="row my-2">
            <div class="col-md-4 mx-auto text-muted text-center small-xl"> 
                &#9786; HackGT 2023 &#9786;
            </div>
        </div>
    </div>
</footer>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script>
    $(function () {
        // init feather icons
        feather.replace();
    });
</script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#auto-input', {
      strings: [
      "&nbsp;&nbsp;&nbsp;&nbsp;Hey,",
        "&nbsp;&nbsp;&nbsp;&nbsp;Hey, give a study guide for exam 2.", 
        "&nbsp;&nbsp;&nbsp;&nbsp;Can you give some hints for hw 5.",
      "&nbsp;&nbsp;&nbsp;&nbsp;Could you summarize unit 2 n",
      "&nbsp;&nbsp;&nbsp;&nbsp;Could you summarize unit 4 notes.",
      "&nbsp;&nbsp;&nbsp;&nbsp;Give some helpful acronyms for unit 3.",
      "&nbsp;&nbsp;&nbsp;&nbsp;Give some keypoints of lecture 7.",
    ],
      typeSpeed: 50,
      backSpeed: 50,
      loop: true
    });
  </script>

</html>
